{% extends 'base.html' %}

{%block bodyblock %}

        <div class="container">
            <br><br>
            <h3 class="content"> Welcome to <span style="color:#198b90">X-ray Lab</span></h3>
        <br>
            <p>
                x-ray lab website provide automated Chest X-ray Interpretation with the
                help of AI technologies that can automaticaly and acurtly detect and label
                most common chest disease, all of this with just few clicks.
            </p>
        </div>
        <br>
        <br>
        <br>
        <br>

{% endblock  %}
